/* Fonts*/
.lobster-two-regular {
  font-family: 'Lobster Two', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

/* Main */
* {
  margin: 0;
  padding: 0;
}

.nav-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* body */
body {
  background-color: #ffffff;
  color: black;
  font-family: 'Delius', cursive;
  font-style: normal;
  font-size: 18px;
}

p {
  color: rgb (85, 85, 85);
}

/* HTML */
html {
  scroll-behavior: smooth;
}

/* Transition */
a,
.btn {
  transition: all 300ms ease;
}

/* Navigation bar and Footer */

nav,
.nav-links {
  display: flex;
}

nav {
  background-color: white;
  top: 0;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  position: sticky;
  z-index: 999;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.other-links {
  color: rgb(47, 105, 212);
  text-decoration: none;
  text-decoration-color: white;
}

.other-links:hover {
  color: rgb(17, 58, 134);
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  text-decoration-color: rgb(17, 58, 134);
}

.logo {
  font-size: 2rem;
}

#logo:hover {
  cursor: pointer;
  color: black;

  text-decoration: none;
}

/* Hamburger Menu */
.hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
  background-color: white;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links-open {
  display: block;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
  list-style: none;
}

.menu-links-open li {
  padding: 8px;
}

.hamburger-icon-open {
  margin-top: 180px;
  margin-left: 100px;
}

.hamburger-icon-open span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.hamburger-icon-open span:first-child {
  transform: rotate(45deg) translate(6px, 5.5px);
}
.hamburger-icon-open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon-open span:last-child {
  transform: rotate(-45deg) translate(6px, -5px);
}

.hamburger-icon span:first-child,
.hamburger-icon span:nth-child(2),
.hamburger-icon span:last-child {
  transform: none;
  opacity: 1;
  background-color: black;
}

/* images */
.helloimg {
  height: auto;
  width: 15rem;
  margin-left: -1.5rem;
  padding: 2rem;
}

.helloimg-container {
  display: flex;
  justify-content: center;
}

/* Home */
section {
  padding-top: 4vh;
  /* height: 96vh; */
  margin: 0 16rem;
  box-sizing: border-box;
  min-height: fit-content;
}

/* Profile */
#profile {
  display: flex;
  justify-content: center;
  height: 80vh;
  gap: 1rem;
}

#profile .section-container {
  gap: 3.5rem;
}

.bounce {
}

.pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.home-text {
  align-self: center;
  text-align: center;
}

.section-text-p1 {
  text-align: center;
  font-size: 2rem;
}

.section-text-p2 {
  text-align: center;
  font-size: 1.75rem;
  margin: 0.5rem 0 1rem 0;
}

.profile-title {
  font-weight: 600;
  font-size: 4rem;
}

.title {
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* Icons */
.icon {
  cursor: pointer;
  height: 2rem;
}

/* Buttons */
.home-button-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.home-button {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 0.75rem;
  width: 8rem;
  border-radius: 2rem;
}

.home-button:hover,
.home-button:hover {
  cursor: pointer;
  background-color: rgb(68, 68, 68);
  color: white;
}

/* About */

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: auto;
}

#about {
  position: relative;
  padding-top: 10rem;
}

.about-pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  justify-content: center;
  align-items: center;
}

.about-pic {
  height: 24rem;
  width: auto;
}

#about .text-container {
  padding: 3rem;
  justify-items: center;
  flex-direction: column;
  width: auto;
  text-align: left;
}

.text-container {
  padding: 2.5rem;
  justify-items: center;
  flex-direction: column;
  width: 500px;
  text-align: justify;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 3rem;
}

.about-container {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/* Tech Stack */

#tech {
  position: relative;
  padding-top: 9rem;
  margin-bottom: 6rem;
}

#tech .section-container {
  flex-direction: column;
}
.tech-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  justify-content: center;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
  /* border: blue 2px solid; */
}

.tech-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
  /* border: red 2px solid; */
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* Projects */
#projects {
  position: relative;
  padding-top: 12rem;
}

#projects .section-container {
  flex-direction: column;
}

.project-gif {
  height: 20rem;
  width: 35rem;
}

.gif-container {
  display: flex;
  align-items: center;
}

.project-video {
  width: 35rem;
  height: 22rem;
}

#project-arrow {
  position: absolute;
  right: -5rem;
}

.project-title {
  margin: 1rem;
  color: black;
  font-weight: 600;
  font-size: 2.5rem;
}

.project-box {
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  padding: 1rem;
}

.project-badges-container {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.35rem;
}

.tech-badge {
  height: 1.5rem;
}

.project-container {
  padding: 10px;
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  justify-content: center;
}

.project-details-container {
  margin-top: 2rem;
  gap: 2.25rem;
}

.project-button {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* Contact */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 8rem;
}

#contact .section-container {
  flex-direction: column;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
  gap: 1rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* Footer */
footer {
  display: relative;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

/* Media Queries */

@media screen and (max-width: 1400px) {
  section {
    margin: 0 5%;
  }

  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .pic-container {
    width: 275px;
    height: 300px;
  }

  .about-pic {
    height: 250px;
    width: auto;
  }

  #about .arrow {
    position: absolute;
    right: -5rem;
    bottom: 0rem;
  }

  #about .section-container {
    display: flex;
    flex-wrap: wrap;
  }

  #about .text-container {
    text-align: center;
    width: auto;
  }
  .about-pic-container {
    height: auto;
  }
}

@media screen and (max-width: 1320px) {
  section {
    margin: 0 5%;
  }

  .section-text-p1 {
    font-size: 1.5rem;
  }

  .title {
    font-size: 3rem;
  }

  .project-title {
    font-size: 2rem;
  }

  nav {
    display: none;
  }
  .hamburger-nav {
    display: flex;
  }
  #tech,
  .tech-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }

  #contact-container {
    display: flex;
  }

  .helloimg {
    height: auto;
    width: 12rem;
  }

  .arrow {
    display: none;
  }
  #project-arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }

  .pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  #about .text-container {
    text-align: center;
    width: auto;
  }
  .project-video,
  .project-gif {
    width: 100%;
    height: auto;
  }

  footer .nav-links {
    margin-top: 5rem;
  }

  footer p {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  .tech-container {
    display: block;
    padding: 0 1rem;
  }

  .details-container {
    display: block;
    margin-bottom: 1.5rem;
  }

  article {
    font-size: 1rem;
  }

  .project-video,
  .project-gif {
    width: 100%;
    height: auto;
  }

  .project-title {
    font-size: 1.5rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-container,
  .contact-info-upper-container,
  .button-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section-text-p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: left;
  }
}
