/* Fonts*/
.lobster-two-regular {
  font-family: 'Lobster Two', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

/* Headers */
h1 {
  color: #f07167;
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  font-style: normal;
  text-align: center;
}

h2 {
  color: #f07167;
  font-family: 'Lobster Two', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

h3 {
  color: #f07167;
  font-size: 22px;
}

/* body */
body {
  background-color: rgba(243, 243, 226, 0.596);
  color: #9c4251;
  font-family: 'Delius', cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%; */
}

#menuCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  /* background-color: yellow; */
}

#note {
  font-size: smaller;
}

.note {
  margin-top: -10px;
}

.underline {
  text-decoration-line: underline;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.textcenter {
  text-align: center;
}

.homediv {
  /* background-color: yellow; */
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.imgBox {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#arrowR {
  margin-left: 15px;
  height: 50px;
}

#arrowL {
  margin-right: 15px;
  height: 50px;
}

.butt {
  background-color: transparent;
  border: transparent;
}

.imgcard {
  max-width: 30vw;
  max-height: 20vw;
  border: #c59ea5;
  border-style: solid;
  border-radius: 20px;
}

.box {
  border: #f1cbc4;
  border-style: solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.divContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contact {
  border: #f1cbc4;
  border-style: solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navigation bar and Footer */
.navbar {
  list-style-type: none;
  background-color: #00afb9;
  padding: 15px;
  margin: 2% 20% 2% 20%;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  color: #fdfcdc;
}

.navbar a {
  color: #fdfcdc;
  text-decoration: none;
  font-weight: 600;
  font-size: 1em;
  padding: 15px;
}

.navbar a:hover {
  background-color: rgb(223, 169, 180);
}

.hover:hover {
  background-color: rgb(223, 169, 180);
}

.footerbox {
  list-style-type: none;
  text-decoration: none;
  background-color: #00afb9;
  padding: 5px;
  margin: 2% 20% 2% 20%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fdfcdc;
}

.footerbox li {
  list-style-type: none;
  text-decoration: none;
}

/* images */
#helloimg {
  max-width: 15vw;
  height: 15vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* border-style:solid;
    border-color: rgb(182, 234, 243);
    border-radius: 100px; */
}

.imgs {
  max-width: 30vw;
  max-height: 20vw;
}

/* blog stuff */
#blogButtonDiv {
  display: flex;
  justify-content: space-between;
}

.blogButtons {
  background-color: rgb(99, 182, 197);
  color: white;
  border: 2px rgb(91, 163, 245) solid;
  border-radius: 5px;
  padding: 10px;
}

.blogButtons:hover {
  background-color: #f797a9;
  border: 2px rgb(233, 105, 222) solid;
}

/* Media Queries */

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.5rem;
  }

  h3 {
    font-size: 0.5rem;
  }

  body {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 750px) {
  .navbar ul {
    margin: 2% 10% 2% 10%;
  }

  .footerbox {
    margin: 2% 10% 2% 10%;
  }
}
