/* Headers */
h1 {
    color: rgb(218, 91, 112);
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
    text-align: center;

}

h2 {
    color: #F9A76E;
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

h3 {
    color: #EC7379;
    font-size: 22px;

}

/* body */
  body {
    background-color: rgba(243, 243, 226, 0.596); 
    color:#9C4251;
    font-family: "Delius", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%; */
}

div {
    padding: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    /* background-color: yellow; */
  }

/* Styling */
.underline {
    text-decoration-line: underline;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}


.textcenter {
    text-align: center;
}

.bulletPointCenter {
    text-align: left;
    margin-left: 20%;
}


/* Formatting */

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    
      }

/* Images */
.imgs {
    max-width: 30vw;
    max-height: 20vw;
   }

.imgborder {
    border-style: solid;
    border-color:palevioletred;
    border-width: 2px;
    
}

.removeRBorder {
    border-style: solid;
    border-color:palevioletred;
    border-right: 0px;
}

.wideimgs {
    max-width:40vw;
    max-height:20vw;

}

#cssclassimg{
    margin:5% 0% 5% 0%;
    border-style: solid;
    border-color:palevioletred;
    border-left: 0px;
    border-right: 0px;
}

#imgborderm {
    border-style: solid;
    border-color:palevioletred;
    border-left: 0px;
    border-right: 0px;
    
}

/* Layout */
.box1 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 30%;
    margin-right: 30%;
}

.box2 {
    display: flex;
    justify-content: center;
    
}