
h1 {
    color: rgb(219, 125, 140);
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
    text-align: center;

}

.navbar ul{
    list-style-type: none;
    background-color: rgba(199, 241, 227, 0.685);
    padding: 15px;
    margin: 2% 30% 2% 30%;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.navbar a{
    color: rgb(156, 66, 81);
    text-decoration: none;
    font-weight: 600;
    padding: 15px;
}

.navbar a:hover {
    background-color: rgb(205, 159, 209);
}

#helloimg {
    max-width: 15vw;
    height: 15vw;
    /* border-style:solid;
    border-color: rgb(182, 234, 243);
    border-radius: 100px; */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
.underline {
    text-decoration-line: underline;
}

.bold {
    font-weight: bold;
}

body {
    background-color: rgba(243, 243, 226, 0.596); 
    color: #6f35bb;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%; */

}


.homediv {
    /* background-color: yellow; */
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

p {
    color: #6f35bb;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
   
}

.div {
     /* background-color: yellow; */
     width: 50%;
     margin-left: auto;
     margin-right: auto;
}

.box1 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 30%;
    margin-right: 30%;
}

.box2 {
    display: flex;
    justify-content: center;
    
}

.imgborder {
    border-style: solid;
    border-color:palevioletred;
    border-width: 2px;
    
}

#cssclassimg{
    margin:5% 0% 5% 0%;
    border-style: solid;
    border-color:palevioletred;
    border-left: 0px;
    border-right: 0px;
}

#imgborderm {
    border-style: solid;
    border-color:palevioletred;
    border-left: 0px;
    border-right: 0px;
    
}

.footerbox {
        list-style-type: none;
        text-decoration: none;
        background-color: rgba(199, 241, 227, 0.685);
        padding: 15px;
        margin: 2% 30% 2% 30%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    
}

@media screen and (max-width: 560px) {
    h1 {
        font-size: 1.5rem;
    }
    
    body {
        font-size: 0.5rem;
    }

}