
h1 {
    color: rgb(218, 91, 112);
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
    text-align: center;

}


h2 {
    color: #F9A76E;
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

h3 {
    color: #EC7379;
    font-size: 22px;

}


.lobster-two-regular {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
  }

  body {
    background-color: rgba(243, 243, 226, 0.596); 
    color:#9C4251;
    font-family: "Delius", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%; */
    
}

.navbar ul{
    list-style-type: none;
    background-color: rgba(199, 241, 227, 0.685);
    padding: 15px;
    margin: 2% 20% 2% 20%;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.navbar a{
    color:#D96141;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    padding: 15px;
}

.navbar a:hover {
    background-color: rgb(223, 169, 180);
}

#helloimg {
    max-width: 15vw;
    height: 15vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* border-style:solid;
    border-color: rgb(182, 234, 243);
    border-radius: 100px; */
}

.hover:hover {
    background-color: rgb(223, 169, 180);
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    /* background-color: yellow; */
  }
  
.underline {
    text-decoration-line: underline;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}


.textcenter {
    text-align: center;
}

.homediv {
    /* background-color: yellow; */
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

div {
    padding: 10px;
}
/* 
p {
    color: rgb(173, 81, 96);
    font-family: "Delius", cursive;
    font-weight: 450;
    font-style: normal;
   
} */

.div {
     /* background-color: yellow; */
     width: 50%;
     margin-left: auto;
     margin-right: auto;
    
}


td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    
      }


.bulletPointCenter {
    text-align: left;
    margin-left: 20%;
}


.box1 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 30%;
    margin-right: 30%;
}

.box2 {
    display: flex;
    justify-content: center;
    
}

.imgs {
    max-width: 30vw;
    max-height: 20vw;
}

.imgborder {
    border-style: solid;
    border-color:palevioletred;
    border-width: 2px;
    
}


#cssclassimg{
    margin:5% 0% 5% 0%;
    border-style: solid;
    border-color:palevioletred;
    border-left: 0px;
    border-right: 0px;
}

#imgborderm {
    border-style: solid;
    border-color:palevioletred;
    border-left: 0px;
    border-right: 0px;
    
}

/* .bubbles {
    padding:10px;
    background-color: rgb(238, 224, 147);
    
} */

.footerbox {
        list-style-type: none;
        text-decoration: none;
        background-color: rgba(199, 241, 227, 0.685);
        padding: 5px;
        margin: 2% 20% 2% 20%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        color: #D96141;
    
}

.footerbox li {
    list-style-type: none;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }
    
    body {
        font-size: 0.5rem;
    }

}

@media screen and (max-width: 750px){
    .navbar ul {
        margin: 2% 10% 2% 10%;
    
    }

    .footerbox {
        margin: 2% 10% 2% 10%;

    }
}